database
!database/alembic
!database/models.py

bot.ini

**/.github
**/.vscode

**/.pre-commit-config.yaml
**/bot.example.ini
**/README.md

.git
.gitattributes
.gitignore
.python-version
Justfile
docker-compose.example.yml

# mount this into docker
assets
data
tests
