*

!/chunithm_net
!/cogs
!/database
!/dbutils
!/utils
!/.python-version
!/alembic.ini
!/bot.py
!/LICENSE
!/pyproject.toml
!/README.md
!/uv.lock

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# C extensions
*.so
