:root > * {
    --md-primary-fg-color: #fdd500;
    --md-primary-fg-color--tranparent: hsla(51, 100%, 50%, 0.1);

    --md-primary-bg-color: hsla(0, 0%, 0%, 0.87);
    --md-primary-bg-color--light: hsla(0, 0%, 0%, 0.54);

    --md-accent-fg-color: #fdd500;
    --md-accent-fg-color--tranparent: hsla(51, 100%, 50%, 0.1);

    --md-accent-bg-color: hsla(0, 0%, 0%, 0.87);
    --md-accent-bg-color--light: hsla(0, 0%, 0%, 0.54);
}
